.Main {
  position: relative;
  top:42px;
  left: 156px;
}
 	   
.Body {
  width: 759px;
  height: 640px;
  background-color: #fafafa;
}

.Box {
  width: 448px;
  height: 524px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    top:49px;
    left: 133px;
}

.Logo{
  width: 180px;
  height: 58px;
  position: relative;
  top:49px;
  left: 133px;
}

.Application-Name {
  width: 270px;
  height: 40px;
  font-family: Muli;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: -0.4px;
  text-align: left;
  color: #1976d2;
  position: relative;
  top:60px;
  left: 32px;
  bottom:334px;
}

.Username {
  width: 159px;
  height: 24px;
  opacity: 0.87;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
  border: 0px;
}

.Password {
  width: 159px;
  height: 24px;
  opacity: 0.38;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
  border: none;
}

.Submit{
  width: 320px;
  height: 36px;
  border-radius: 2px;
  background-color: #ff9100;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-style: none;
  position: relative;
  top:50px;
  left: 0px;
}

.Copyright {
  width: 288px;
  height: 16px;
  opacity: 0.54;
  font-family: Muli;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  position: relative;
  top:190px;
  left: 80px;
}

.HelpLink {
  width: 87px;
  height: 20px;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff9100;
  position: relative;
  top:160px;
  left:30px;
}

.Line {  
  width: 320px;
  height: 1px;
  opacity: 0.12;
  background-color: #000000;
}

.Line-Tangerine {
  width: 320px;
  height: 2px;
  border: none;
  background-color: #ffab40;
}

.Form {
    position: relative;
    top:80px;
    left: 32px;
    bottom:334px;
}

.Visibility {
  position: relative;
  left: 296px;
  top: 36px;
  width: 24px;
  height: 24px;
  opacity: 0.54;
  border: none;
}

.MessageText {
  width: 159px;
  height: 24px;
  opacity: 0.87;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: -0.4px;
  text-align: left;
  color: red;
  border: 0px;
  position: relative;
  top:450px;
  left:165px;
  z-index:100;
}
